/*–––– RUNNING LINE ––––*/
header .marquee {
  display: flex;
  width: max-content;
  animation: marquee 13s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

header .marquee:hover {
  animation-play-state: paused;
}

/*–––– FIRST SCREEN ––––*/

header .upper-text img {
  transition: transform 0.5s ease, rotate 0.5s ease;
  display: inline-block;
}

header .upper-text img:hover {
  transform: translateY(-10%) rotate(-10deg) scale(1.1);
}

header .upper-text p {
  transition: transform 0.5s ease, rotate 0.5s ease;
  display: inline-block;
}

header .upper-text p:hover {
  transform: translateY(10%) rotate(10deg) scale(1.1);
}

/* h1 */

header h1 {
  display: inline-block;
  animation: floatH1 4s ease-in-out infinite alternate;
  transition: transform 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;
}

@keyframes floatH1 {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-1.5%) scale(1.02);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

/*–––– SECOND SCREEN ––––*/

.second .second-grid h3 {
  opacity: 1;
  transition: opacity 1s cubic-bezier(0.2, 1, 0.35, 1);
}

.second .second-grid h3:hover {
  opacity: 0.1;
  transition: opacity 0.3s cubic-bezier(0.2, 1, 0.35, 1);
}

.second .second-grid h3:not(:hover) {
  opacity: 1;
  transition: opacity 1s cubic-bezier(0.2, 1, 0.35, 1);
  transition-delay: 0.5s;
}

/*mobile*/
@media (max-width: 768px) {
  .second-grid .bold {
    pointer-events: none;
    animation: blinks 3s infinite;
  }
}

.second-grid .delay-1 {
  animation-delay: 0.2s;
}
.second-grid .delay-2 {
  animation-delay: 0.8s;
}
.second-grid .delay-3 {
  animation-delay: 1.4s;
}
.second-grid .delay-4 {
  animation-delay: 2.1s;
}
.second-grid .delay-5 {
  animation-delay: 0.5s;
}
.second-grid .delay-6 {
  animation-delay: 1.9s;
}
.second-grid .delay-7 {
  animation-delay: 2.7s;
}
.second-grid .delay-8 {
  animation-delay: 0.9s;
}
.second-grid .delay-9 {
  animation-delay: 1.7s;
}
.second-grid .delay-10 {
  animation-delay: 2.4s;
}
.second-grid .delay-11 {
  animation-delay: 0.3s;
}
.second-grid .delay-12 {
  animation-delay: 1.1s;
}
.second-grid .delay-13 {
  animation-delay: 2s;
}
.second-grid .delay-14 {
  animation-delay: 0.6s;
}
.second-grid .delay-15 {
  animation-delay: 1.3s;
}
.second-grid .delay-16 {
  animation-delay: 2.2s;
}
.second-grid .delay-17 {
  animation-delay: 0.4s;
}
.second-grid .delay-18 {
  animation-delay: 1s;
}
.second-grid .delay-19 {
  animation-delay: 1.8s;
}
.second-grid .delay-20 {
  animation-delay: 2.5s;
}
.second-grid .delay-21 {
  animation-delay: 0.7s;
}
.second-grid .delay-22 {
  animation-delay: 1.5s;
}
.second-grid .delay-23 {
  animation-delay: 2.3s;
}
.second-grid .delay-24 {
  animation-delay: 0.1s;
}
.second-grid .delay-25 {
  animation-delay: 1.2s;
}
.second-grid .delay-26 {
  animation-delay: 1.9s;
}
.second-grid .delay-27 {
  animation-delay: 2.6s;
}
.second-grid .delay-28 {
  animation-delay: 0.8s;
}

@keyframes blinks {
  0%,
  90%,
  100% {
    opacity: 1;
  }
  95% {
    opacity: 0.5;
  }
  96% {
    opacity: 0.8;
  }
  98% {
    opacity: 0.3;
  }
}

/*–––– RUNNING LINE ––––*/
.running-line-2 .marquee {
  display: flex;
  width: max-content;
  animation: marquee-hover 14s linear infinite;
  animation-play-state: paused;
}

.running-line-2:hover .marquee {
  animation-play-state: running;
}

@keyframes marquee-hover {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/*–––– THIRD SCREEN ––––*/

/* BLOCK 1 */
.block-1 {
  overflow: hidden;
}

@keyframes left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.block-1 .m1 {
  animation: left 10s linear infinite;
}
.block-1 .m2 {
  animation: right 13s linear infinite;
}
.block-1 .m3 {
  animation: left 11s linear infinite;
}
.block-1 .m4 {
  animation: right 14s linear infinite;
}
.block-1 .m5 {
  animation: left 12s linear infinite;
}
.block-1 .m6 {
  animation: right 13s linear infinite;
}

.block-1 .m1:hover,
.m2:hover,
.m3:hover,
.m4:hover,
.m5:hover,
.m6:hover {
  animation-play-state: paused;
}

/* BLOCK 2 */
.third .block-2 p {
  transition: 0.6s ease;
}
.third .block-2:hover p {
  width: 80%;
  line-height: 130%;
  letter-spacing: 0.02vw;
}

.third .block-2 p:not(:hover) {
  transition-delay: 0.2s;
}

/* BLOCK 3 */
.block-3 .glass-circle {
  opacity: 0.15;
  transition: opacity 0.5s cubic-bezier(0.2, 1, 0.35, 1);
}

.block-3 .glass-circle:hover {
  opacity: 1;
}

.block-3 .glass-circle:not(:hover) {
  transition-delay: 0.5s;
}

/*mobile*/
/* Keep your existing hover code */
.block-3 .glass-circle {
  opacity: 0.15;
  transition: opacity 0.5s cubic-bezier(0.2, 1, 0.35, 1);
}

.block-3 .glass-circle:hover {
  opacity: 1;
}

.block-3 .glass-circle:not(:hover) {
  transition-delay: 0.5s;
}

@media (max-width: 768px) {
  .block-3 .glass-circle {
    animation: pulse 3s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      opacity: 0.1;
    }
    50% {
      opacity: 1;
    }
  }
}

/*–––– FOURTH SCREEN ––––*/
/* h2 */
.fourth h2 {
  position: relative;
}
.fourth h2 .line {
  display: block;
  position: relative;
}

@keyframes hit-right {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(6vw);
  }
  70% {
    transform: translateX(-6vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes hit-left {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-6vw);
  }
  70% {
    transform: translateX(6vw);
  }
  100% {
    transform: translateX(0);
  }
}
.fourth h2 .top {
  animation: hit-right 6s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.fourth h2 .bottom {
  animation: hit-left 6s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

/* ARROW */
.arrow {
  transition: transform 0.45s cubic-bezier(0.2, 1, 0.3, 1),
    background-color 0.3s ease;
}

.arrow p {
  transform: rotate(-45deg);
  transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow:hover {
  transform: scale(1.05);
  background-color: #fd3d06;
}

.arrow:hover p {
  transform: rotate(0deg);
}

/* TEXT */
.fourth .fourth-p-text {
  animation: float-p;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.fourth .fourth-p-text {
  animation-duration: 6s;
  animation-delay: 0s;
}

@keyframes float-p {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(-0.5vw, 1vw);
  }
  65% {
    transform: translate(0.3vw, -0.5vw);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* DOTS */
.fourth .dot {
  animation: float;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(0.5vw, -1vw);
  }
  65% {
    transform: translate(-0.3vw, 0.5vw);
  }
  100% {
    transform: translate(0, 0);
  }
}
.fourth .tl,
.fourth .tr,
.fourth .bl,
.fourth .br {
  animation-duration: 6s;
  animation-delay: 0s;
}

/*–––– FIFTH SCREEN ––––*/
/* BLOCK 1 */
.fifth .block-1 .rectangle-1,
.fifth .block-1 .rectangle-2,
.fifth .block-1 .rectangle-3,
.fifth .block-1 .rectangle-4,
.fifth .block-1 .rectangle-5 {
  transition: height 0.8s cubic-bezier(0.2, 1, 0.4, 1);
  transition-delay: 0.2s;
}

.fifth .block-1 .rectangle-1:hover {
  height: 40vw;
}

.fifth .block-1 .rectangle-2:hover {
  height: 32vw;
}

.fifth .block-1 .rectangle-3:hover {
  height: 29vw;
}

.fifth .block-1 .rectangle-4:hover {
  height: 36vw;
}

.fifth .block-1 .rectangle-5:hover {
  height: 40vw;
}

/*mobile*/
@media (max-width: 768px) {
  .fifth .block-1 .rectangle-1,
  .fifth .block-1 .rectangle-2,
  .fifth .block-1 .rectangle-3,
  .fifth .block-1 .rectangle-4,
  .fifth .block-1 .rectangle-5 {
    transition: none;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  .fifth .block-1 .rectangle-1 {
    animation-name: rect-1;
  }

  .fifth .block-1 .rectangle-2 {
    animation-name: rect-2;
    animation-delay: 0.2s;
  }

  .fifth .block-1 .rectangle-3 {
    animation-name: rect-3;
    animation-delay: 0.4s;
  }

  .fifth .block-1 .rectangle-4 {
    animation-name: rect-4;
    animation-delay: 0.6s;
  }

  .fifth .block-1 .rectangle-5 {
    animation-name: rect-5;
    animation-delay: 0.8s;
  }

  @keyframes rect-1 {
    0%,
    100% {
      height: 15vw;
    }
    20% {
      height: 30vw;
    }
    40% {
      height: 20vw;
    }
    60% {
      height: 40vw;
    }
    80% {
      height: 25vw;
    }
  }

  @keyframes rect-2 {
    0%,
    100% {
      height: 24vw;
    }
    20% {
      height: 36vw;
    }
    40% {
      height: 28vw;
    }
    60% {
      height: 46vw;
    }
    80% {
      height: 28vw;
    }
  }

  @keyframes rect-3 {
    0%,
    100% {
      height: 30vw;
    }
    20% {
      height: 42vw;
    }
    40% {
      height: 20vw;
    }
    60% {
      height: 35vw;
    }
    80% {
      height: 24vw;
    }
  }
}

@keyframes rect-4 {
  0%,
  100% {
    height: 24vw;
  }
  20% {
    height: 34vw;
  }
  40% {
    height: 26vw;
  }
  60% {
    height: 42vw;
  }
  80% {
    height: 30vw;
  }
}

@keyframes rect-5 {
  0%,
  100% {
    height: 30vw;
  }
  25% {
    height: 50vw;
  }
  50% {
    height: 36vw;
  }
  75% {
    height: 46vw;
  }
}

/* BLOCK 2 */
h3 .bullet:hover {
  color: #fd3d06;
}

/* BLOCK 3 */

.circle-1 {
  left: 5%;
  animation: fall-circle-1 23s ease-in infinite;
}
@keyframes fall-circle-1 {
  0% {
    bottom: 110%;
  }
  5% {
    bottom: 0%;
  }
  93% {
    bottom: 0%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-2 {
  left: 45%;
  animation: fall-circle-2 23s ease-in infinite;
}
@keyframes fall-circle-2 {
  0% {
    bottom: 150%;
  }
  7% {
    bottom: 0%;
  }
  93% {
    bottom: 0%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-3 {
  left: 79%;
  animation: fall-circle-3 23s ease-in infinite;
}
@keyframes fall-circle-3 {
  0% {
    bottom: 150%;
  }
  9% {
    bottom: 0%;
  }
  93% {
    bottom: 0%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-4 {
  left: 23%;
  animation: fall-circle-4 23s ease-in infinite;
}
@keyframes fall-circle-4 {
  0% {
    bottom: 150%;
  }
  11% {
    bottom: 2.5%;
  }
  93% {
    bottom: 2.5%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-5 {
  left: 60%;
  animation: fall-circle-5 23s ease-in infinite;
}
@keyframes fall-circle-5 {
  0% {
    bottom: 150%;
  }
  13% {
    bottom: 2.4%;
  }
  93% {
    bottom: 2.4%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-6 {
  left: 12%;
  animation: fall-circle-6 23s ease-in infinite;
}
@keyframes fall-circle-6 {
  0% {
    bottom: 150%;
  }
  15% {
    bottom: 2.5%;
  }
  93% {
    bottom: 2.5%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-7 {
  left: 82%;
  animation: fall-circle-7 23s ease-in infinite;
}
@keyframes fall-circle-7 {
  0% {
    bottom: 150%;
  }
  17% {
    bottom: 2.4%;
  }
  93% {
    bottom: 2.4%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-8 {
  left: 38%;
  animation: fall-circle-8 23s ease-in infinite;
}

@keyframes fall-circle-8 {
  0% {
    bottom: 150%;
  }
  19% {
    bottom: 4.6%;
  }
  93% {
    bottom: 4.6%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-9 {
  left: 67%;
  animation: fall-circle-9 23s ease-in infinite;
}

@keyframes fall-circle-9 {
  0% {
    bottom: 150%;
  }
  21% {
    bottom: 4.7%;
  }
  93% {
    bottom: 4.7%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-10 {
  left: 20%;
  animation: fall-circle-10 23s ease-in infinite;
}

@keyframes fall-circle-10 {
  0% {
    bottom: 150%;
  }
  23% {
    bottom: 4.6%;
  }
  93% {
    bottom: 4.6%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-11 {
  left: 47%;
  animation: fall-circle-11 23s ease-in infinite;
}

@keyframes fall-circle-11 {
  0% {
    bottom: 150%;
  }
  25% {
    bottom: 6.8%;
  }
  93% {
    bottom: 6.8%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-12 {
  left: 75%;
  animation: fall-circle-12 23s ease-in infinite;
}

@keyframes fall-circle-12 {
  0% {
    bottom: 150%;
  }
  27% {
    bottom: 7%;
  }
  93% {
    bottom: 7%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-13 {
  left: 10%;
  animation: fall-circle-13 23s ease-in infinite;
}

@keyframes fall-circle-13 {
  0% {
    bottom: 150%;
  }
  29% {
    bottom: 6.7%;
  }
  93% {
    bottom: 6.7%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-14 {
  left: 55%;
  animation: fall-circle-14 23s ease-in infinite;
}

@keyframes fall-circle-14 {
  0% {
    bottom: 150%;
  }
  31% {
    bottom: 7.2%;
  }
  93% {
    bottom: 7.2%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-15 {
  left: 30%;
  animation: fall-circle-15 23s ease-in infinite;
}

@keyframes fall-circle-15 {
  0% {
    bottom: 150%;
  }
  33% {
    bottom: 9.1%;
  }
  93% {
    bottom: 9.1%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-16 {
  left: 85%;
  animation: fall-circle-16 23s ease-in infinite;
}

@keyframes fall-circle-16 {
  0% {
    bottom: 150%;
  }
  35% {
    bottom: 9.6%;
  }
  93% {
    bottom: 9.6%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-17 {
  left: 64%;
  animation: fall-circle-17 23s ease-in infinite;
}

@keyframes fall-circle-17 {
  0% {
    bottom: 150%;
  }
  37% {
    bottom: 9.4%;
  }
  93% {
    bottom: 9.4%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}
.circle-18 {
  left: 15%;
  animation: fall-circle-18 23s ease-in infinite;
}

@keyframes fall-circle-18 {
  0% {
    bottom: 150%;
  }
  39% {
    bottom: 8.9%;
  }
  93% {
    bottom: 8.9%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-19 {
  left: 40%;
  animation: fall-circle-19 23s ease-in infinite;
}

@keyframes fall-circle-19 {
  0% {
    bottom: 150%;
  }
  41% {
    bottom: 11.5%;
  }
  93% {
    bottom: 11.5%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-20 {
  left: 73%;
  animation: fall-circle-20 23s ease-in infinite;
}

@keyframes fall-circle-20 {
  0% {
    bottom: 150%;
  }
  43% {
    bottom: 12%;
  }
  93% {
    bottom: 12%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-21 {
  left: 26%;
  animation: fall-circle-21 23s ease-in infinite;
}

@keyframes fall-circle-21 {
  0% {
    bottom: 150%;
  }
  45% {
    bottom: 11.3%;
  }
  93% {
    bottom: 11.3%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}
.circle-22 {
  left: 50%;
  animation: fall-circle-22 23s ease-in infinite;
}

@keyframes fall-circle-22 {
  0% {
    bottom: 150%;
  }
  47% {
    bottom: 13.7%;
  }
  93% {
    bottom: 13.7%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-23 {
  left: 5%;
  animation: fall-circle-23 23s ease-in infinite;
}

@keyframes fall-circle-23 {
  0% {
    bottom: 150%;
  }
  49% {
    bottom: 11.3%;
  }
  93% {
    bottom: 11.3%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-24 {
  left: 82%;
  animation: fall-circle-24 23s ease-in infinite;
}

@keyframes fall-circle-24 {
  0% {
    bottom: 150%;
  }
  51% {
    bottom: 14.4%;
  }
  93% {
    bottom: 14.4%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-25 {
  left: 32%;
  animation: fall-circle-25 23s ease-in infinite;
}

@keyframes fall-circle-25 {
  0% {
    bottom: 150%;
  }
  53% {
    bottom: 13.5%;
  }
  93% {
    bottom: 13.5%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-26 {
  left: 62%;
  animation: fall-circle-26 23s ease-in infinite;
}

@keyframes fall-circle-26 {
  0% {
    bottom: 150%;
  }
  55% {
    bottom: 16.2%;
  }
  93% {
    bottom: 16.2%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-27 {
  left: 15%;
  animation: fall-circle-27 23s ease-in infinite;
}

@keyframes fall-circle-27 {
  0% {
    bottom: 150%;
  }
  57% {
    bottom: 13.7%;
  }
  93% {
    bottom: 13.7%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-28 {
  left: 45%;
  animation: fall-circle-28 23s ease-in infinite;
}

@keyframes fall-circle-28 {
  0% {
    bottom: 150%;
  }
  59% {
    bottom: 15.9%;
  }
  93% {
    bottom: 15.9%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-29 {
  left: 76%;
  animation: fall-circle-29 23s ease-in infinite;
}

@keyframes fall-circle-29 {
  0% {
    bottom: 150%;
  }
  61% {
    bottom: 16.6%;
  }
  93% {
    bottom: 16.6%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

.circle-30 {
  left: 67%;
  animation: fall-circle-30 23s ease-in infinite;
}

@keyframes fall-circle-30 {
  0% {
    bottom: 150%;
  }
  63% {
    bottom: 18.8%;
  }
  93% {
    bottom: 18.8%;
  }
  94% {
    bottom: -60%;
  }
  100% {
    bottom: -60%;
  }
}

/*–––– FOOTER ––––*/

@keyframes flicker {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

footer .footer-circles-1 div,
footer .footer-circles-2 div {
  animation: flicker 4s infinite;
  transition: opacity 0.5s ease;
}

/* LEFT */
footer .footer-circles-1 .orange-circle-1 {
  animation-delay: 0s;
}
footer .footer-circles-1 .orange-circle-2 {
  animation-delay: 0.4s;
}
footer .footer-circles-1 .orange-circle-3 {
  animation-delay: 0.8s;
}
footer .footer-circles-1 .orange-circle-4 {
  animation-delay: 1.2s;
}
footer .footer-circles-1 .orange-circle-5 {
  animation-delay: 1.6s;
}
footer .footer-circles-1 .orange-circle-6 {
  animation-delay: 2s;
}
footer .footer-circles-1 .orange-circle-7 {
  animation-delay: 2.4s;
}

footer .footer-circles-1:hover {
  opacity: 0;
  transition: 0.5s ease;
}
footer .footer-circles-1 {
  opacity: 1;
  transition: 0.5s ease;
}

/* RIGHT */

footer .footer-circles-2 .orange-circle-1 {
  animation-delay: 0s;
}
footer .footer-circles-2 .orange-circle-2 {
  animation-delay: 0.4s;
}
footer .footer-circles-2 .orange-circle-3 {
  animation-delay: 0.8s;
}
footer .footer-circles-2 .orange-circle-4 {
  animation-delay: 1.2s;
}
footer .footer-circles-2 .orange-circle-5 {
  animation-delay: 1.6s;
}
footer .footer-circles-2 .orange-circle-6 {
  animation-delay: 2s;
}
footer .footer-circles-2 .orange-circle-7 {
  animation-delay: 2.4s;
}

footer .footer-circles-2:hover {
  opacity: 0;
  transition: 0.5s ease;
}
footer .footer-circles-2 {
  opacity: 1;
  transition: 0.5s ease;
}
