* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --white: #f8f8f7;
  --dark: #2b2f36;
  --orange: #fd3d06;
  --gradient: linear-gradient(90deg, #c7c6ff 0%, #f98b8e 46%, #fd3d06 100%);
}

body {
  margin: 0 auto;
  background: var(--white);
  -webkit-font-smoothing: antialiased;
  cursor: url("../images/cursor.svg"), auto;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

/*–––– FIRST SCREEN ––––*/
header .running-line-1 {
  height: 28%;
  background-color: var(--dark);
  margin: 0 auto;
  margin: 0;
}

header .running-line-1 h3 {
  display: inline-block;
  white-space: nowrap;

  margin-top: 3vw;
  margin-left: 3.5vw;
  margin-bottom: 2.5vw;

  font-size: 3.4vw;

  letter-spacing: 0.05vw;
  font-family: "Neutral Face", sans-serif;
  background-image: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

header .header-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 3.5vw;
  height: 40vw;
}

header .upper-text {
  display: flex;
  justify-content: space-between;
}

header .upper-text img {
  width: 5vw;
}

p {
  font-size: 2vw;
  font-family: "Inter", sans-serif;
}

header h1 {
  font-size: 11.5vw;
  margin: 0;
  white-space: nowrap;
  font-family: "Neutral Face", sans-serif;
}

/*–––– SECOND SCREEN ––––*/
.second {
  width: 100vw;
  height: 48vw;
  background-image: var(--gradient);
}
.second-grid .bold {
  font-family: "Neutral Face", sans-serif;
  font-size: 3vw;
  font-weight: bold;
}

.second-grid {
  width: 100vw;
  height: 58vw;
  display: grid;
  grid-template-columns: repeat(7, 15vw);
  color: #f8f8f7;
  padding: 3.5vw;
}

/*–––– RUNNING LINE ––––*/
.running-line-2 {
  height: 32%;
  background-color: var(--white);
  margin: 0 auto;
  margin: 0;
}

.running-line-2 h2 {
  display: inline-block;
  white-space: nowrap;

  margin-top: 3.5vw;
  margin-left: 3.5vw;
  margin-bottom: 3vh;

  font-size: 5vw;

  letter-spacing: 0.5vw;
  font-family: "Neutral Face", sans-serif;
  color: var(--dark);
}

.orange-text {
  color: var(--orange);
}

/*–––– THIRD SCREEN ––––*/
.third {
  display: flex;
  justify-content: flex-start;
}

.third .block-1 {
  width: 33.33vw;
  height: 33.33vw;
  background-image: var(--gradient);
}

h4 {
  display: inline-block;
  white-space: nowrap;
  line-height: 5.5vw;
  font-size: 2.5vw;

  font-family: "Inter", sans-serif;
  color: var(--white);
}

.third .block-2 {
  width: 33.33vw;
  height: 33.33vw;
  background-color: var(--dark);
}

.third .block-2 p {
  position: relative;
  width: 80%;
  margin-top: 3vw;
  margin-left: 3vw;
  color: var(--white);
}

.third .block-3 {
  width: 33.33vw;
  height: 33.33vw;
}

.third .block-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 1;
}

.block-3 .glass-circles {
  display: grid;
  width: 100%;
  height: 100%;
}

.block-3 .glass-circle {
  width: 20%;
  height: 20%;
  border-radius: 100%;
  color: var(--white);
  opacity: 30%;
  backdrop-filter: blur(30%);
  -webkit-backdrop-filter: blur(30%);
  z-index: 2;
}

/*–––– FOURTH SCREEN ––––*/
.fourth {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;

  width: 100%;
  height: 60vw;

  background: var(--white);

  padding: 3.5vw;
}

/* CIRCLES */
.fourth .dot {
  width: 10px;
  aspect-ratio: 1/1;
  background: var(--dark);
  border-radius: 50%;
}
.fourth .tl {
  grid-area: 1 / 1;
  place-self: start start;
}
.fourth .tr {
  grid-area: 1 / 3;
  place-self: start end;
}
.fourth .bl {
  grid-area: 3 / 1;
  place-self: end start;
}
.fourth .br {
  grid-area: 3 / 3;
  place-self: end end;
}

/* TEXT */
.fourth-content {
  grid-area: 2 / 2;
  place-self: center;
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 3vw;
}

.fourth h2 {
  margin-top: 5.5vh;
  margin-left: 3.5vw;
  margin-bottom: 4.5vh;

  font-size: 5vw;
  line-height: 120%;

  font-family: "Neutral Face", sans-serif;
  color: var(--dark);
  margin: 0 auto;
}

.arrow {
  position: relative;
  width: 8vw;
  height: 8vw;
  margin: 0 auto;
  border-radius: 100%;
  background: var(--dark);

  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow p {
  font-size: 4vw;
  font-family: "Inter", sans-serif;
  color: var(--white);
  transform: rotate(-45deg);
}

.fourth p {
  width: 50%;
  margin: 0 auto;
}

/*–––– FIFTH SCREEN ––––*/
.fifth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fifth .block-1 {
  width: 33.33vw;
  height: 40vw;
  background-image: linear-gradient(
    0deg,
    #c7c6ff 0%,
    #f98b8e 46%,
    #fd3d06 100%
  );
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.fifth .rectangle-1 {
  position: relative;
  width: 6.66vw;
  height: 30vw;
  background-image: linear-gradient(
    180deg,
    #c7c6ff 0%,
    #f98b8e 46%,
    #fd3d06 100%
  );
}

.fifth .rectangle-2 {
  position: relative;
  width: 6.66vw;
  height: 36vw;
  background-image: linear-gradient(
    180deg,
    #c7c6ff 0%,
    #f98b8e 46%,
    #fd3d06 100%
  );
}

.fifth .rectangle-3 {
  position: relative;
  width: 6.66vw;
  height: 40vw;
  background-image: linear-gradient(
    180deg,
    #c7c6ff 0%,
    #f98b8e 46%,
    #fd3d06 100%
  );
}

.fifth .rectangle-4 {
  position: relative;
  width: 6.66vw;
  height: 32vw;
  background-image: linear-gradient(
    180deg,
    #c7c6ff 0%,
    #f98b8e 46%,
    #fd3d06 100%
  );
}

.fifth .rectangle-5 {
  position: relative;
  width: 6.66vw;
  height: 25vw;
  background-image: linear-gradient(
    180deg,
    #c7c6ff 0%,
    #f98b8e 46%,
    #fd3d06 100%
  );
}

.fifth .block-2 {
  width: 50vw;
  height: 40vw;
  background-color: var(--white);
}

.fifth .block-2 h3 {
  display: inline-block;
  width: 100%;

  margin-top: 3vw;
  margin-left: 3vw;

  font-size: 3.4vw;
  font-family: "Neutral Face", sans-serif;

  gap: 2vw;
  line-height: 3.5vw;
}

h3 .bullet {
  font-size: 6.5vw;
}

.fifth .block-3 {
  width: 17vw;
  height: 40vw;
  background-image: linear-gradient(
    145deg,
    #c7c6ff 0%,
    #f98b8e 46%,
    #fd3d06 100%
  );
}

/*–––– FOOTER SCREEN ––––*/

footer {
  width: 100%;
  height: 20vw;
  color: var(--white);
  background-color: var(--dark);
  display: flex;
  justify-content: flex-start;
  padding: 3.5vw;
  gap: 15vw;
}

/* LEFT SIDE */
footer .footer-content-1 {
  display: grid;
  gap: 0;
  margin-top: -7vw;
}

footer p {
  margin: 0;
  font-size: 2vw;
  line-height: 1.3;
  align-self: start;
  z-index: 1;
}

footer .footer-circles-1,
footer p {
  grid-area: overlap;
}

footer .footer-circles-1 {
  display: grid;
  grid-template-columns: 2.5vw 2.5vw 2.5vw 2.5vw 2.5vw 2.5vw;
  grid-auto-rows: 2.5vw;
  gap: 0;
  margin: 0;
  z-index: 2;
}

footer .footer-circles-1 div {
  width: 2.5vw;
  height: 2.5vw;
  background-color: var(--orange);
  border-radius: 50%;
  gap: 0;
  margin: 0;
}

/* RIGHT SIDE */
footer .footer-content-2 {
  display: grid;
  gap: 0;
  margin-top: -7vw;
}

footer p {
  margin: 0;
  font-size: 2vw;
  line-height: 1.3;
  align-self: start;
  z-index: 1;
}

footer .footer-circles-2,
footer p {
  grid-area: overlap;
}

footer .footer-circles-2 {
  display: grid;
  grid-template-columns: 2.5vw 2.5vw 2.5vw 2.5vw 2.5vw 2.5vw;
  grid-auto-rows: 2.5vw;
  gap: 0;
  margin: 0;
  z-index: 2;
}

footer .footer-circles-2 div {
  width: 2.5vw;
  height: 2.5vw;
  background-color: var(--orange);
  border-radius: 50%;
  gap: 0;
  margin: 0;
}

/* TRANSPARENT CIRCLES */
footer .footer-circles-1 .orange-circle-2,
.footer-circles-1 .orange-circle-5,
.footer-circles-1 .orange-circle-7,
.footer-circles-1 .orange-circle-10 {
  opacity: 0;
}

footer .footer-circles-2 .orange-circle-4,
.footer-circles-2 .orange-circle-6,
.footer-circles-2 .orange-circle-7,
.footer-circles-2 .orange-circle-9,
.footer-circles-2 .orange-circle-11,
.footer-circles-2 .orange-circle-12 {
  opacity: 0;
}
